
.header-section {
   width: 100%;
   margin-top: 55px;
   display: flex;
   justify-content: center;
}

.header-wrapper {
   width: 1195px;
   padding: 15px 0;
   display: flex;
   justify-content: flex-end;
}


.header-wrapper button {
   padding: 9px;
   
}


.table-wrapper {
   display: flex;
   justify-content: center;
}

table {
   width: 1195px;
   background-color: white;
}

.id-column {
   width: 45px;
}






/*  Modal Add Restaurants */


.modalWrapperAdd {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 95px 0;
}


.modalWrapperAdd input {
   width: 275px;
   font-size: 17px;
   padding: 9px 7px;
   margin-bottom: 23px;
   text-transform: capitalize;
}


.modalWrapperAdd input:focus {
  outline: none;
}

.modalWrapperAdd select {
   width: 293px;
   padding: 9px 7px;
   font-size: 17px;
   margin-bottom: 65px;
   font-family: 'Quicksand',sans-serif;
}

.modalWrapperAdd select:focus {
   outline: none;
}

.option {
   padding: 15px 5px !important;
   font-size: 19px !important;
}

.select {
   margin-bottom: 25px !important;
}

.modalBtns {
   width: 195px;
   display: flex;
   align-items: stretch;
   justify-content: space-between;
}

.modalBtns button {
   width: 75px;
   padding: 7px 13px;
   font-size: 15px;
   font-weight: 500;
   border: none;
   color: white;
   margin: 0 13px;
   border-radius: 5px;
   cursor: pointer;
   width: 115px;
}


.add-btn {
   background-color: #4285f4;
}

.cancel-btn {
   background-color: #ff3547;
}


.heading-text {
   font-size: 19px;
   color: rgb(46, 43, 43);
}



@keyframes pulse {
   from {
     opacity: 1;
     transform: scale(1);
   }
   to {
     opacity: .25;
     transform: scale(.75);
   }
}

.wrapper-loading {
   width: 100%;
   min-height: 100vh;
   height: 100%;
   position: absolute;
   z-index: 7;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #959fa7b0;
}


.pulse-container {
   width: 135px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .pulse-bubble {
   width: 29px;
   height: 29px;
   border-radius: 50%;
   background-color: #ffffff ;
 }
 
 .pulse-bubble-1 {
     animation: pulse .4s ease 0s infinite alternate;
 }
 .pulse-bubble-2 {
     animation: pulse .4s ease .2s infinite alternate;
 }
 .pulse-bubble-3 {
     animation: pulse .4s ease .4s infinite alternate;
 }
 


/* 

 .main-data {
   width: 100%;
   min-height:100vh ;
   padding-top: 75px;
   overflow-y: scroll;
 } */

