body {
  margin: 0;
  background-color: #F3F5FA;
  font-family: 'Quicksand', sans-serif,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




table {
  font-family: 'Quicksand', sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

td, th {
  border: 1px solid #a9b0af;
  text-align: left;
  padding: 9px;
}

td {
  font-weight: 500;
}

tr:nth-child(even) {
  background-color: #dae3f76a;
}

.name-row {
  width: 285px;
}



.btns-clmn {
  display: flex;
  justify-content: flex-end;
}

.ctgry {
  text-transform: capitalize;
}